@model System.Data.DataTable

@{
    ViewBag.Title = "RevenuePerEmployee";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">Thống kê</h3>
                    <h2>Doanh thu theo nhân viên tạo đơn<span class="status--denied"></span></h2>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <div class="table-data__tool">
                                @using (Html.BeginForm("RevenuePerEmployee", "Revenues", FormMethod.Get, new { enctype = "multipart/form-data", @class = "form-header", @style = "margin-left:-400px; margin-top: -2px;" }))
                                {
                                    <input class="au-input au-input--xl" type="text" name="nameEmployee" placeholder="Tên nhân viên..." style="margin-left:400px;margin-right:5px;" value="@ViewBag.nameEmployee" />
                                    <button class="au-btn--submit" type="submit">
                                        <i class="zmdi">Thống kê</i>
                                    </button>
                                }
                            </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>
                                            <th>Employee ID</th>
                                            <th>Full NAME</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Rows.Count; i++)
                                        {
                                            <tr class="tr-shadow">
                                                <td>@Model.Rows[i][0]</td>
                                                <td>@Model.Rows[i][1]</td>
                                                <td>@string.Format("{0:0,0} đ", @Model.Rows[i][2])</td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <a href="https://localhost:44368/Revenues/index" type="submit" class="btn btn-primary">
                                    <i class="fa fa-backward"></i> Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


